<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Condition(@key='WFSDBDatabase')" xdt:Transform="SetAttributes(value)" value="[Support_BPM_dev]"/>
    <add xdt:Locator="Condition(@key='DSDBDatabase')" xdt:Transform="SetAttributes(value)" value="[Support_DSDB_dev]"/>
    <add xdt:Locator="Condition(@key='SupportADDONS')" xdt:Transform="SetAttributes(value)" value="[Support_ADDONS_dev]"/>
    <add xdt:Locator="Condition(@key='SupportCP')" xdt:Transform="SetAttributes(value)" value="[Support_CP_dev]"/>
  </appSettings>

  <connectionStrings>
    <add xdt:Locator="Condition(@name='CPUSERS')" xdt:Transform="SetAttributes(connectionString)" connectionString="Data Source=rumba\sql2012;Initial Catalog=Support_CP_dev;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;"/>
    <add xdt:Locator="Condition(@name='WFSDB')" xdt:Transform="SetAttributes(connectionString)" connectionString="Data Source=rumba\sql2012;Initial Catalog=Support_BPM_dev;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;"/>
    <add xdt:Locator="Condition(@name='ADDONS')" xdt:Transform="SetAttributes(connectionString)" connectionString="Data Source=rumba\sql2012;Initial Catalog=Support_ADDONS_dev;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;"/>
    <add xdt:Locator="Condition(@name='DSDB')" xdt:Transform="SetAttributes(connectionString)" connectionString="Data Source=rumba\sql2012;Initial Catalog=Support_DSDB_dev;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;"/>
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint address="https://supportbpm-dev.billennium.pl/WS_DataService/dataservice.asmx" xdt:Transform="SetAttributes(address)"  xdt:Locator="Condition(@name='DataServiceSoap')" />
    </client>
    <services>

      <service>

        <endpoint address="https://supportbpm-dev.billennium.pl/HPWEBSERIVCE/DataService4HP.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Condition(@contract='DataService4HP.IDataService4HP')" >
        </endpoint>
      </service>
    </services>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>