<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WFSDBDatabase" value="[Support_BPM_DEV]"/>
    <add key="DSDBDatabase" value="[Support_DSDB_DEV]"/>
    <add key="SupportADDONS" value="[Support_ADDONS_DEV]"/>
    <add key="SupportCP" value="[Support_CP_DEV]"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add connectionString="Data Source=.;Initial Catalog=Support_CP_DEV;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;" name="CPUSERS"/>
    <add connectionString="Data Source=.;Initial Catalog=Support_BPM_DEV;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;" name="WFSDB"/>
    <add connectionString="Data Source=.;Initial Catalog=Support_ADDONS_DEV;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;" name="ADDONS"/>
    <add connectionString="Data Source=.;Initial Catalog=Support_DSDB_DEV;Persist Security Info=True;User ID=sa;Password=Koszyk79;MultipleActiveResultSets=True; Max Pool Size=250;" name="DSDB"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" name="DataServiceSoap" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport"/>
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="DataServiceSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding closeTimeout="00:10:00" name="LocalBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <reliableSession/>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          </textMessageEncoding>
          <httpTransport bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SupportBPM-DEV/WS_DataService/DataService.asmx" binding="basicHttpBinding" bindingConfiguration="DataServiceSoap" contract="DataServiceWFS.DataServiceSoap" name="DataServiceSoap"/>
    </client>
    <services>
      <service behaviorConfiguration="DataService4HP.DataService4HPBehavior" name="DataService4HP.DataServiceHP">
        <endpoint address="http://localhost:21643/DataService4HP.svc" binding="customBinding" bindingConfiguration="LocalBinding" contract="DataService4HP.IDataService4HP"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataService4HP.DataService4HPBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <remove assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>